{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template assignsubmission_collabora/content

    Displays etherpad content

    Example context (json):
    {
        "id" : 46876,
        "legacy" : 1,
        "viewurl" : "https://nodomain.local",
        "filename" : "example.docx",
        "name" : "example",
        "frameheight" : "0",
        "hasnotice" : 1,
        "noticetype" : "warning",
        "notice" : "Collabora URL is not configured for this site"
    }

}}
{{#hasnotice}}
<div class="alert alert-{{noticetype}} alert-block " role="alert">
    {{notice}}
</div>
{{/hasnotice}}
<a href="#" title="{{#str}}fullscreen, mod_collabora{{/str}}" class="text-decoration-none text-primary collaboramodal" data-toggle="modal" data-target="#collaboramodal_{{id}}">
    <span class="fa-stack" title="{{title}}">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-expand fa-stack-1x"></i>
    </span>
</a><span class="ml-1">{{filename}}</span>
{{> mod_collabora/inline}}
{{> mod_collabora/modal}}

{{#js}}
    require(['mod_collabora/resizeiframe'], function(resizeiframe) {
        {{^frameheight}}
            resizeiframe.init();
        {{/frameheight}}

        setTimeout(function() {
            let button = document.querySelector('.summary_assignsubmission_collabora_{{id}}');
            let submission = document.querySelector('.full_assignsubmission_collabora_{{id}}');
            button.style.display = 'none';
            submission.removeAttribute('style');
            submission.removeAttribute("hidden");
        }, 100);
    });
{{/js}}
